@model IEnumerable<SBDProject.Models.Team>

@{
    ViewBag.Title = "Drużyny";
}

<h1 class="alert-info col-md-12 text-center header">DRUŻYNY</h1>

@if (User.IsInRole("admin"))
{
    @Html.ActionLink("Dodaj nową drużynę", "Create", "Teams", null, new { @class = "btn btn-primary" });
}

<div class="row teams">
    @foreach (var team in Model)
            {
        <div class="col-md-3 team">
            <h2 class="team-title">@team.Name</h2>
            <a href="@Url.Action("Details", "Teams", new { id = team.Id })">
                <img class="img-responsive logo" src="@Url.Content(team.Logo != null ? team.Logo : "~/Images/noimg.png")" />
            </a>
        </div>
    }
</div>

  
 