
@{
    ViewBag.Title = "Index";
}
<div class="tiles-container">
    <a href="@Url.Action("Index","Positions")">
        <div class="custom-tile" style=" background-color: #1A659E;">
            <p>Zarzadzaj pozycjami</p>
        </div>
    </a>
    <a href="@Url.Action("Index","Statistics")">
        <div class="custom-tile" style="background-color:#004E89;">
            <p>Zarządzaj statystykami</p>
        </div>
    </a>
</div>


