body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.logo {
    width: 200px;
    float: left;
}

.header {
    padding: 1rem;
    font-weight: 600;
    border-radius: 5px;
}

.teams .team .team-title {
    text-decoration: none;
}

.custom-tile {
    text-align: center;
    width: 200px;
    height: 200px;
    margin-left: 10px;
    display: inline-block;
    color: white;
    font-size: 25px;
    border-radius: 5px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    padding-top: 55px;
    border: solid 1px black
}

.tiles-container {
    margin-top: 20px
}
