@model SBDProject.Models.Location

@{
    ViewBag.Title = "Usuwanie lokalizacji";
}

<h2>Usuwanie lokalizacji</h2>

<h3>Czy na pewno usunąć lokalizację?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Nazwa lokalizacji
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            Adres
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Usuń" class="btn btn-default" />
            @Html.ActionLink("Powrót do listy lokalizacji", "Index", null, new { @class = "btn btn-primary" })
        </div>
    }
</div>
