@model IEnumerable<SBDProject.Models.Coach>

@{
    ViewBag.Title = "Trenerzy";
}

<h1 class="alert-info col-md-12 text-center header">TRENERZY</h1>

@if (User.IsInRole("admin"))
{
    @Html.ActionLink("Dodaj nowego trenera", "Create", "Coaches", null, new { @class = "btn btn-primary" });
}

<div class="row coaches">
    @foreach (var coach in Model)
    {
        <div class="col-md-3 coach">
            <a href="/Coaches/Details/@coach.Id">
                <h2 class="coach-name">@coach.FirstName @coach.LastName</h2>
                <label>Drużyna :</label><span>@coach.Team.Name</span>
            </a>
        </div>
    }
</div>
