@model IEnumerable<SBDProject.Models.Referee>

@{
    ViewBag.Title = "Sędziowie";
}

<h1 class="alert-info col-md-12 text-center header">SĘDZIOWIE</h1>

@if (User.IsInRole("admin"))
{
    @Html.ActionLink("Dodaj nowego sędziego", "Create", "Referees", null, new { @class = "btn btn-primary" });
}

<div class="row referees">
    @foreach (var referee in Model)
    {
        <div class="col-md-3 referee">
            <a href="/Referees/Details/@referee.Id">
                <h2 class="referee-name">@referee.FirstName @referee.LastName</h2>
            </a>
        </div>
    }
</div>
