@model SBDProject.Models.Position

@{
    ViewBag.Title = "Usuwanie pozycji";
}

<h2>Usuwanie pozycji</h2>

<h3>Czy na pewno usunąć pozycj: @Model.Name?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Nazwa pozycji
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Usuń" class="btn btn-danger" />
            @Html.ActionLink("Powrót do listy pozycji", "Index", null, new { @class = "btn btn-primary" })
        </div>
    }
</div>
