@model IEnumerable<SBDProject.Models.Position>

@{
    ViewBag.Title = "Pozycje";
}

<h1 class="alert-info col-md-12 text-center header">POZYCJE</h1>

@if (User.IsInRole("admin"))
{
    @Html.ActionLink("Dodaj nową pozycję", "Create", "Positions", new { @class = "btn btn-primary" });
}

<table class="table" style="margin-top:30px">
    <tr>
        <th>
            Nazwa pozycji
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
